
.ant-pagination-item {
    font-size: 12px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}
.ant-pagination-item-active {
    background-color:#1890FF;
    border-radius:4px;
    color:#fff;
}
